# Ignore model artifacts and pickled data (from Emotion detection/)
Emotion detection/*.pkl
Emotion detection/ensemble_model_*.pkl
Emotion detection/preprocessed_data.pkl
Emotion detection/scaler_new.pkl

# Ignore raw dataset (optional if you don't want to store CSVs in repo)
Emotion detection/fer2013.csv

# Jupyter notebook checkpoints
Emotion detection/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore notebook checkpoint files created by Jupyter
*.ipynb_checkpoints